a.btncv {
    color: var(--global-text-color) !important;
    border: 1px solid var(--global-text-color) !important;
    border-radius: 0.125rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.7rem;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  a.btncv:hover {
    color: var(--global-theme-color) !important;
    border-color: var(--global-theme-color) !important;
    text-decoration: none !important;
  }